/*Default Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}
/*End of Default Styles*/

/*Container*/
.container {
  /* font-size: ;
    font-family: ; */
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

/*Rectangle*/
.rectangle {
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  position: fixed;
}

.rectangle-1 {
  width: 60rem;
  height: 40rem;
  position: fixed;
  top: 40%;
  left: -40%;
  transform: rotateZ(30deg);
}
.rectangle-2 {
  width: 80rem;
  height: 60rem;
  top: -40%;
  right: -40%;
  transform: rotateZ(-45deg);
}

/*End of Rectangle*/

/*Navbar*/
.navbar {
  width: 100%;
  height: 10rem;
  /* background-color: wheat; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.designer {
  /* background-color: white; */
  position: absolute;
  top: 3rem;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.designer img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.designer div {
  /* background-color: white; */

  display: flex;
  flex-direction: column;
  color: white;
  /* justify-content: space-evenly; */
  padding-left: 1rem;
}

.designer > div span {
  padding-bottom: 0.5rem;
}

.designer > div span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.designer > div span:nth-child(2) {
  font-size: 1rem;
  text-align: center;
}

.menu-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 3rem;
  right: 10rem;
  /* background-color: white; */
  display: flex;
  flex-direction: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.menu-icon:hover {
  transform: scaleY(1.2);
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: white;
}

.navigation {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.navigation.navigate {
  opacity: 1;
  visibility: visible;
  /* z-index: 1; */
}

.navigation-left {
  width: 30%;
  height: 100%;
  /* background-color: grey; */
}

.navigation-left img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.navigation-right {
  width: 70%;
  height: 100%;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: 1; */
}

.x-btn {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 15%;
  right: 10%;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.x-line {
  width: 3rem;
  height: 0.1rem;
  background-color: white;
}

.x-line-1 {
  transform: rotateZ(-45deg);
}

.x-line-2 {
  transform: rotateZ(45deg) translate(-0.65rem, -0.75rem);
}

/*
.navigation-right h1 {
  color: white;
  font-family: ;
  font-size: 4rem;
  margin-bottom: 5rem;
}
*/

/* .navigation-right h1 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.2rem;
} */

.nav-list {
  /* background-color: pink; */
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  top: 30%;
  left: 50%; */
}

.nav-list a {
  color: white;
  /* font-family: ; */
  font-size: 3rem;
  /* padding: 0.5rem 0; */
  margin: 1rem 0;
  /* background-color: white; */
  transition: color 0.3s;
}

.nav-list a:nth-child(1) {
  color: red;
}

.nav-list a:hover {
  color: red;
}
/* End of Navbar*/

/*Landing*/
.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: green; */
}

.banner {
  /* background-color: yellow; */
  width: 100%;
  /* height: 40rem; */
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* color: white; */
}

.heading-slide {
  /* background-color: red; */
  width: 100%;
  position: absolute;
  transform: translateZ(-8rem);
  opacity: 0;
  visibility: hidden;
}

.heading-slide-1 {
  animation: animateHeading 8s infinite linear;
}

.heading-slide-2 {
  animation: animateHeading 8s 4s infinite linear;
}

@keyframes animateHeading {
  0% {
    transform: translateZ(-8rem);
    opacity: 0;
    visibility: hidden;
  }

  8% {
    transform: translateZ(0);
    opacity: 1;
    visibility: visible;
  }

  48% {
    transform: translateZ(0);
    opacity: 1;
    visibility: visible;
  }

  56% {
    transform: translateZ(-8rem);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateZ(-8rem);
    opacity: 0;
    visibility: hidden;
  }
}

.heading-slide h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  opacity: 0.5;
}

.heading-slide h1 {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5rem;
}

/*End of Landing*/

/*About*/
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  /* background-color: grey; */
  /* position: relative; */
}

.about-left {
  width: 40%;
  height: 100%;
  /* background-color: grey; */

  position: relative;
  /* top: 30%;
  left: 50%; */
  /* padding: 10rem; */
}

.about-left img {
  width: 90%;
  height: 95%;
  object-fit: cover;
  position: absolute;
  left: 15%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50rem);
  transition: all 0.5s 0.3s;
  /* margin: 10rem; */
}

.change .about-left img {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.about-right {
  width: 60%;
  height: 100%;

  /* background-color: green; */
  position: relative;
  /*top: 30%;
  right: 20%; */
  opacity: 0;
  visibility: hidden;
  transform: translateY(50rem);
  transition: all 1.5s;
}

.change .about-right {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.about-right h1 {
  font-size: 15rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: grey;
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0.2;
}

.about-right h3 {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  position: absolute;
  top: 15%;
  left: 15%;
}

.info {
  /* background-color: yellow; */
  width: 50%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: absolute;
  top: 40%;
  left: 10%;
}

.info p {
  color: silver;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  width: 100%;
  padding-bottom: 2rem;
  /* height: 40rem; */
  /* background-color: grey; */
}

.info h4 {
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.contact {
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  padding: 2rem 0;
  position: relative;
}

.contact span {
  color: white;
  padding: 0.5rem 0;
}

.info a {
  color: red;
  margin-left: 2rem;
}

.social-media {
  /* background-color: wheat; */
  width: 100%;
  display: flex;
  padding: 1rem;
  /* position: absolute;
  top: 5%;
  left: 5%; */
  /* justify-content: center; */
  /* align-items: flex-start; */
}

.social-media i {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
/*End of About*/

/*Services*/
.services {
  /* background-color: grey; */
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 50rem;
}

.services-header {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
  transition: all 0.5s 0.5s;
}

.change .services-header {
  opacity: 0.7;
  visibility: visible;
  transform: translateY(0);
}

.services-header h3 {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.services-header h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.services-list {
  /* background-color: wheat; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.list-item {
  /* background-color: red; */
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10rem);
  padding: 3rem;
}

.change .list-item {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.list-item:nth-child(1) {
  transition: all 1s 0.5s;
}

.list-item:nth-child(2) {
  transition: all 1s 0.7s;
}

.list-item:nth-child(3) {
  transition: all 1s 0.9s;
}

.list-item i {
  /* background-color: yellow; */
  color: red;
  font-size: 5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.list-item span {
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
}
/*End of Services*/

/*Portfolio*/
.portfolio {
  /* background-color: grey; */
  width: 100%;
  height: 100%;
  margin-top: 10rem;
  padding: 10rem 0 5rem 0;
}

.portfolio-header {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
  transition: all 1s 0.5s;
}

.change .portfolio-header {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* .change .services-header {
  opacity: 0.7;
  visibility: visible;
  transform: translateY(0);
} */

.portfolio-header h3 {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.portfolio-header h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.works {
  /* background-color: blue; */
  width: 80%;
  margin: auto;
  padding: 5rem;
}

.work {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transform: translateX(15rem);
  transition: all 1s 0.5s;
}

.work:nth-child(1) {
  transition: all 1s 0.3s;
}
.work:nth-child(2) {
  transition: all 1s 0.5s;
}
.work:nth-child(3) {
  transition: all 1s 0.7s;
}
.work:nth-child(4) {
  transition: all 1s 0.9s;
}

.change .work {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.work img {
  /* background-color: red; */
  width: 40%;
  height: 30rem;
  object-fit: cover;
  /* position: absolute; */
  /* left: 0; */
}

.work-info {
  /* background-color: green; */
  width: 50%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-info * {
  padding: 1rem;
}

.work-info h3 {
  color: white;
  font-size: 2rem;
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  opacity: 0.7;
}

.work-info h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.work-info p {
  color: white;
  width: 70%;
  /* margin: 1rem; */
  font-size: 1.4rem;
  opacity: 0.9;
}

.work-info a {
  color: red;
  font-size: 1.2rem;
  font-weight: lighter;
  text-decoration: dashed;
}

/*End of Portfolio*/

/*Data*/
.data {
  /* background-color: grey; */
  width: 100%;
  height: 100%;
  padding: 10rem;
  margin-top: 30rem;
}

.data-header {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10rem 0; */
}

.data-header h3 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.9;
  margin-bottom: 3rem;
}

.data-header h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 10rem;
}

.data-list {
  /* background-color: rgb(0, 225, 255); */
  width: 70%;
  height: 40rem;
  margin: auto;
  /* padding: 10rem 0; */
  /* justify-self: center; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.data-item {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.data-item:nth-child(1) {
  top: 0;
  left: 0;
}
.data-item:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.data-item:nth-child(3) {
  bottom: 0;
  right: 0;
}

.data-item span:nth-child(1) {
  color: red;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.data-item span:nth-child(2) {
  color: red;
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.2rem;
}

/*End of Data*/

/*Footer*/

footer {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30rem;
}

.copyright {
  color: white;
  font-size: 1.4rem;
  font-weight: lighter;
}

.copyright span {
  color: red;
}

/*End of Footer*/

/*End of Container*/
